@model Dari.Models.User

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>DeleteUser</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete"  /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
